{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load project_extras %}
{% load cloudinary %}

{% block content %}
    <div class="banner">
            <div class="burn">
                <div class="title"> <span id="startupTitle">{{ object.name }}</span>
                    <div class="desc_separator" id="title_separator"></div>
                </div>
            </div>
        </div>
        <div class="sidebar pull-left">
            <div class="people_role pull-left">
                <p>{{ object.stage | status }}</p>
            </div>
            <div class="startup-logo"> <img class="img img-responsive" src="{% cloudinary_url object.logo %}" alt="startup logo"> </div>
            <span id="startup-name"> {{ object.name }}</span>
            <div class="sidebar_separator"></div>
            <div class="social-media-icons">
                <div>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook-square icon" style="font-size:33px;"></i></a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter-square icon" style="font-size:33px;"></i></a>
                    <a href="{% if "http" in object.url  %}{{ object.website }}{% else %}{{ "#" }}{% endif %}" target="_blank">
                        <i class="fa fa-globe icon" style="font-size:33px;"></i></a>
                </div>
            </div>
            <span id="startup-telephone">+256 75 555 5555</span>
            <button class="contact-ownerBtn" type="button">Contact Owner</button>
        </div>
        <div class="content-container">
            <div class="overview pull-right">
                <div class="pull-left view-startup-image">
                    {% if object.stage == "1" or object.stage == "3" %}
                    {% else %}
                        <img src="{% cloudinary_url object.service_pic height=308 crop="fit" %}">
                    {% endif %}

                </div>
                <div class="view-startup-vertical-separator"></div>
                <div class="view-startup-desc">
                    <div class="overview-title">
                        <p>Overview</p>
                        <div class="overview-separator" id="overview-margin"></div>
                    </div>
                    <div class="main_text_content">
                        <p>{{ object.description }}</p>
                    </div>
                </div>
            </div>
            <div class="team-members pull-right">
                <div class="overview-title marginalise">
                    <p>Team Members</p>
                </div>
                <div class="overview-separator"></div>
                <div class="circular left-align" id="first-team-member"> <img class="avatar" src="/static/img/avatar-m-41.png"> </div>
                <div class="circular left-align"> <img class="avatar" src="/static/img/avatar-m-02%20copy.png"> </div>
                <div class="circular left-align"> <img class="avatar" src="/static/img/avatar-m-83.png"> </div>
                <div class="circular left-align"> <img class="avatar" src="/static/img/avatar-m-37.png"> </div>
            </div>
            <div class="market pull-right">
                {% if object.stage != "1" %}
                   <div class="text-overview">
                    <div class="overview-title marginalise">
                        <p>Market</p>
                    </div>
                    <div class="overview-separator"></div>
                    <div class="main_text_content">
                        <section>
                            <p><strong>Target Customers</strong></p>
                            <p class="market-about">{{ object.target_customers | capfirst}}</p>
                        </section>
                        <section>
                            <p><strong>How do we reach our customers</strong></p>
                            <p class="market-about">{{ object.acquisition_plan | capfirst}}</p>
                        </section>

                        <section>
                            <p><strong>Potential Competitors</strong></p>
                            <p class="market-about">{{ object.potential_competitors | capfirst}}</p>
                        </section>
                    </div>
                </div>
                {% endif %}

            </div>
        {% if object.stage != '1' %}
            <div class="financials pull-right">
                <div class="text-overview">
                    <div class="overview-title marginalise">
                        <p>Financials</p>
                    </div>
                    <div class="overview-separator"></div>
                    <div class="main_text_content">
                        {% if object.stage == '2' or object.stage == '3' or object.stage == '4' %}
                            <section>
                            <p><strong>How we'll generate revenue</strong></p>
                            <p class="market-about">{{ object.revenue | capfirst}}</p>
                        </section>
                            <section>
                            <p><strong>Startup Costs</strong></p>
                            <p class="market-about">{{ object.costs | currency}}</p>
                        </section>
                        {% elif object.stage == '5' or object.stage == '6'%}
                            <section>
                            <p><strong>Revenue Sources</strong></p>
                            <p class="market-about">{{ object.revenue | capfirst}}</p>
                        </section>
                         <section>
                            <p><strong>Our Growth Ambitions</strong></p>
                            <p class="market-about">{{ object.growth_ambitions | capfirst}}</p>
                        </section>
                            <p><strong>Milestones</strong></p>
                            <p class="market-about">{{ object.growth_ambitions | capfirst}}</p>
                        </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        </div>
{% endblock %}