{% extends 'layouts/base.html' %}
{% block content %}
<script type="text/javascript">
	 setTimeout(function(){
	     var role = {{ user.role }};
	     var id = {{ user.id }};
	 	window.location = "/users/edit/" + id + "/" + role ;
	 }, 3000);
</script>
	<div class="body-container container">
		<h1 class="title">Account Confirmation</h1>
		<div class="alert alert-success" role="alert">
	    <span class="messages">
		  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  		You have successfully created your account. Continue to edit your profile
	    </span>
		</div>
	</div>
{% endblock %}
