{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

     <div class="banner">
            <div class="burn">
                <div class="title"> <span id="startupTitle">{{ user.first_name }}'s Details</span>
                    <div class="desc_separator" id="title_separator"></div>
                </div>
            </div>
        </div>
        <div class="sidebar pull-left">
            <div class="people_role pull-left">
                <p>{{ userprofile.role | capfirst}}</p>
            </div>
            <div class="user-avatar">
                <!--user avatar-->
                <div class="circular " id="startup_profile_avatar"> <img class="avatar" src="{{ userprofile.picture.url }}" width="70" height="70"> </div>
            </div> <span id="startup-name"> {{ user.get_full_name }}</span>
            <!--user name-->
            <div class="sidebar_separator"></div>
            <div class="social-media-icons">
                <div>
                    <a href="{% if userprofile.facebook %}{{ userprofile.facebook }}{% else %}{{ "#" }}{% endif %}" target="_blank">
                        <i class="fa fa-facebook-square icon" style="font-size:33px;"></i></a>
                    <a href="{% if userprofile.twitter %}{{ userprofile.twitter }}{% else %}{{ "#" }}{% endif %}" target="_blank">
                        <i class="fa fa-twitter-square icon" style="font-size:33px;"></i></a>
                    <a href="{% if "http" in userprofile.website  %}{{ userprofile.website }}{% else %}{{ "#" }}{% endif %}" target="_blank">
                        <i class="fa fa-globe icon" style="font-size:33px;"></i></a>
                    <a href="{% if userprofile.linkedin %}{{ userprofile.linkedin }}{% else %}{{ "#" }}{% endif %}" target="_blank">
                        <i class="fa fa-linkedin last-icon" style="font-size:33px;"></i></a>
                </div>
            </div>
            <span id="startup-telephone">{{ user.phone }}</span>
            {% if userprofile.role == 'investor' %}
                <button class="contact-ownerBtn" type="button">Company profile</button>
            {% elif userprofile.role == 'innovator' %}
                {% if request.user.has_created_entity %}
                    <a href="{% url 'projects:view-startup' %}"><button class="contact-ownerBtn" type="button">Startup Profile</button></a>
                {% endif %}

            {% elif userprofile.role == 'Community Hub' %}
                <button class="contact-ownerBtn" type="button">Hub profile</button>
            {% endif%}
        </div>
        <div class="content-container">
            <div class="user-form">
                {% crispy form %}
            </div>
        </div>

{% endblock %}
