{% extends 'layouts/../index/../layouts/base.html' %}

{% block content %}
<div class="container" style="background-color: white">
  <div class="row">
  <div class="col-md-12" style="height: 300px; background-image: url('/static/img/awards.jpg');background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
  </div>
    <div class="col-md-7 event-details">
      <div class="as-card" style="border: none">
        <div class="as-card-area">
        	<h3 style="color: #ff9900">{{ event.title }}</h3>
        	Location/Venue: {{ event.venue }}<br/>
        	Date: {{ event.title }}<br/>
        	Time: {{ event.title }} <br/>
        	Price: {{ event.price }}
        	<a class="btn btn-info" style="float: right; background-color: gray" href="{{ event.registration_link }}">Join</a>
        	<br/> 
        	<span class="clear"></span>
        	<hr/>
        	<h4>Introduction:</h4>
        	<p>
        		{{ event.introduction }}
        	</p>

        	<h4>Event Objectives:</h4>
        	<p>
        		{{ event.objectives }}
        	</p>

        	<h4>Who should Attend</h4>
        	<p>
        		{{ event.target }}
        	</p>

        	<h4>Speaker(s)/Facilitator(s)</h4>
        	<p>
        		{{ event.facilitators }}
        	</p>

        	<a href="{{ event.registration_link }}">Register here</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    	<div class="as-card" style="border: none">
	        <div class="as-card-area">
	        	<div id='calendar' style="border: none"></div>
	        </div>
        </div>
    </div>
  </div>
</div>
<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '{{ now | date:"Y-m-d" }}',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
      {% for event in events %}
        {
          title: '{{ event.title }}',
          {% for time in event.occurrence_set.all %}
          start: '{{ time.start | date:"Y-m-d\TH:i:s" }}',
          end: '{{ time.end | date:"Y-m-d\TH:i:s" }}',
          {% endfor %}
        },
      {% endfor %}
      ]
    });
    
  });

</script>
{% endblock %}
